*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.head{
    background-color: gray;
    height: 10vh;
    width: 100%;

}

.footer{
    background-color: gray;
    bottom: 0px;
    height: 10vh;
    width: 100%;
}


.main-container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    height: 70vh;


}

.left{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;

}

.right{
    width: 30%;
    height: 100%;
}

.content-a{
   background-color: orangered;
   height: 50%;
   width: 100%;
}

.content-b{
   background-color: orange;
   height: 50%;
   width: 100%;
}

.content-c{
   background-color: yellow;
   height: 100%;
}



/* for tab version */
@media only screen and (max-width:820px){
    .left{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .right{
        width:50%;
        height:100%;
    }
}


/* for smartphone */
@media only screen and (max-width:540px)
{
    .main-container{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    .left{
        width: 100%;
        height: 70%;
    }

    .content-a{
        height: 50%;
        background-color: red;
    }

    .content-b{
        height: 50%;
    }


    .right{
        width: 100%;
        height: 30%;
    }

}


