*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
.header{
    background-color: gray;
    height: 10vh;
    width: 100%;
}


.footer{
    background-color: gray;
    height: 10vh;
    width: 100%;
}

.container{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.content-a{
    background-color:yellowgreen;
    order:2;
    width: 50%;
}


.content-b{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 25%;
    order:1;
 }


.content-c{
    background-color: yellow;
    width: 25%;
    order:3;
 }
 
 

 @media only screen and (max-width: 820px){
     .header{
         height: 5vh;
         width: 100%;
     }

     .footer{
         height: 5vh;
         width: 100%;
     }

     .container{
         /* flex-direction: column; */
         flex-wrap: wrap;
         height: 80vh;
     }

     .content-a{
        width: 100%;
        height: 50%;
        order:1;
     }

     .content-b{
         width: 50%;
         height: 50%;
         order:2;
     }

     .content-c{
         width: 50%;
         height: 50%;
         order:3;

     }

 }


 @media only screen and (max-width:500px)
 {
     .container{
         display: flex;
        flex-direction: column;

     }

     .content-a{
         width: 100%;
         height: 50%;
         order:1;
     }

     .content-b{
         width: 100%;
         order:2;
         height: 25%;
     }

     .content-c{
         width: 100%;
         order:3;
         height: 25%;
     }
 }



